kubeadm-containerd-multinode/terraform/.terraform.tfstate.lock.info
kube.config
sshkey
*.dll
*.exe
.DS_Store
./*.DS_Store
example.tf
./*.tfvars
terraform.tfplan
terraform.tfstate
bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
.vagrant/
*.backup
./*.tfvars
./*.tfstate
.terraform/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml

website/vendor

# Test exclusions
!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/